In [9]:
import pandas as pd
import csv
import numpy as np

In [10]:
data = pd.read_csv('data.csv')
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,y
0,2.072344,0.751274,0.466750,0.408886,0.922095,1.163881,0.881867,2.910124,2.354587,2.243242,2.812365,0.621966,0.044922
1,2.754075,0.437686,2.660805,1.744468,2.787730,1.783005,0.358058,1.952027,2.448289,1.817680,0.954169,1.873914,-0.072266
2,1.889019,2.144082,0.866513,2.808813,1.875494,0.304908,0.164400,0.560558,2.975085,0.393916,2.328575,0.637258,-0.054688
3,2.057003,0.999106,1.817754,0.485032,1.971755,1.511607,1.047067,3.050197,1.517195,2.226587,2.968189,0.519468,-0.056641
4,1.172158,0.517414,2.419115,2.509190,0.767895,0.217145,0.304185,1.625127,2.993360,0.953334,0.333555,1.307732,-0.154297

In [12]:
data = data.iloc[:, :12]
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11
1979,0.835251,2.951512,2.090845,2.406777,2.767213,1.492569,2.280637,2.065195,0.237724,1.912468,0.152186,0.1691